*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
*.iml
.settings/

*.pem
*.crt
*.key

#### Important
/src/test/resources/passwords.json
/target/
/bin/

/src/test/resources/dbuser

!dummy.war

java_secret.txt
catalania_secret.txt
db_password_secret.txt
db_username_secret.txt
